.about {
    max-width: 76rem;
    margin: 0 auto;
    padding: 4rem clamp(1.5rem, 7vw, 4rem);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.about-text {
    max-width: 26rem;
}

.about-text h1 {
    font-size: 2.8rem;
    color: black;
    line-height: 2.6rem;
}

.about-text h2 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #495e57;
    margin-bottom: 1.2rem;
}

.about-text p {
    font-size: 0.95rem;
    line-height: 1.4rem;
    color: #333;
    margin-bottom: 0.9rem;
}

.about-images {
    position: relative;
    width: 22rem;
    height: 22rem;
    flex-shrink: 0;
}

.about-image-back,
.about-image-front {
    position: absolute;
    border-radius: 0.6rem;
    object-fit: cover;
}

.about-image-back {
    width: 12rem;
    height: 16rem;
    top: 0;
    right: 2rem;
}

.about-image-front {
    width: 12rem;
    height: 16rem;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 0 6px white;
}


@media (max-width: 992px) {
    .about {
        gap: 2rem;
    }

    .about-images {
        width: 18rem;
        height: 18rem;
    }

    .about-image-back,
    .about-image-front {
        width: 10rem;
        height: 13rem;
    }
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        max-width: 100%;
    }

    .about-images {
        width: 100%;
        max-width: 20rem;
        height: 20rem;
    }
}

@media (max-width: 500px) {
    .about-text h1 {
        font-size: 2.2rem;
    }

    .about-images {
        height: 17rem;
    }

    .about-image-back,
    .about-image-front {
        width: 9rem;
        height: 12rem;
    }
}